<header class="app-header">
  <div class="content">
    <button class="icon" (click)="handleHome()">
      <span class="material-symbols-outlined">home </span>
    </button>
    <div class="search">
      <input
        type="text"
        placeholder="Buscar produtos"
        (keydown.enter)="handleSearch()"
        [(ngModel)]="search"
      />
    </div>
    <ul class="pages">
      <li
        *ngFor="let page of pages"
        [ngClass]="{ 'selected': isCurrentPage(page.route) }"
        (click)="handleNavigate(page.route)"
      >
        {{ page.name }}
      </li>
    </ul>
  </div>
</header>
