.content {
  border-radius: 10px;
  display: flex;
  gap: 1em;
  min-height: 50vh;
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px #0000002c;
}

.img-container,
.product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  padding: 3em;
  min-height: 50vh;
}

.img-container {
  max-height: 90vh;
  flex-shrink: 0;
  position: sticky;
  top: 10vh;
}

.product-img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}

.product-name {
  font-size: 1.4em;
  font-weight: 600;
  max-width: 100%;
  overflow: hidden;
}

.product-price {
  font-size: 1.2em;
}

.add-cart {
  padding: 0.9em 1em;
  border: none;
  background-color: #006eff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.add-cart:active {
  opacity: 0.8;
}

.see-more {
  color: #006eff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 4px;
}

.product-description {
  max-width: 98%;
  overflow: hidden;
}

.actions {
  margin-top: 0.5em;

  display: flex;
  align-items: center;
  gap: 2em;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.quantity-control button {
  background-color: #e2e8f0;
  border: none;
  padding: 0.4em 0.6em;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.quantity-control button:hover {
  background-color: #cbd5e1;
}

@media (max-width: 850px) {
  .content {
    flex-direction: column;
  }
  .img-container,
  .product-info {
    width: 100%;
  }

  .img-container {
    position: relative;
  }

  .product-price {
    align-self: flex-end;
    font-size: 2em;
  }

  .actions {
    align-items: center;
    justify-content: end;
  }

  .add-cart {
    padding: 1.2em;
  }
}
