<page-container>
  <div class="content" *ngIf="!loading">
    <div class="img-container">
      <img
        class="product-img"
        [src]="getProductImage()"
        [alt]="product.name"
        (error)="onImageError($event)"
      />
    </div>
    <div class="product-info">
      <h2 class="product-name">{{ product.name | capitalizeWords }}</h2>
      <div
        [innerHTML]="getTruncatedDescription()"
        class="product-description"
      ></div>
      <span
        *ngIf="shouldShowToggle()"
        (click)="toggleDescription()"
        class="see-more"
      >
        {{ showFullDescription ? "Ver menos" : "Ver mais" }}
      </span>
      <span class="product-price">{{ formatPrice(product.price) }}</span>
      <div class="actions">
        <div class="quantity-control">
          <button (click)="decrease()">−</button>
          <span>{{ itemQtd }}</span>
          <button (click)="increase()">+</button>
        </div>
        <button (click)="addProduct()" class="add-cart">
          Adicionar ao carrinho
        </button>
      </div>
    </div>
  </div>
</page-container>
