<page-container>
  <div class="header">
    <h2>Gerenciamento De Produtos</h2>
    <app-button label="Novo Produto" (click)="handleShowCreate()"> </app-button>
  </div>
  <no-data
    *ngIf="!loading && products.length === 0"
    message="Nenhum produto encontrado."
  ></no-data>

  <product-list
    *ngIf="!loading"
    [limit]="limit"
    [page]="page"
    [products]="products"
    [totalPages]="totalPages"
    [onUpdate]="fetchData.bind(this)"
  ></product-list>
  <new-product
    *ngIf="showCreateProduct"
    [handleshow]="handleShowCreate.bind(this)"
    [handleSuccess]="fetchData.bind(this)"
  ></new-product>
</page-container>
