<page-container>
  <div class="header">
    <h2>Gerenciamento De Produtos</h2>
    <button class="create-product-btn" (click)="handleShowCreate()">
      Novo Produto
    </button>
  </div>
  <ul *ngIf="!isLoading() && getProducts().length > 0" class="product-list">
    <li
      *ngFor="let product of getProducts(); trackBy: trackById"
      class="product-item"
    >
      <img
        class="product-img"
        [src]="getProductImage(product)"
        alt="{{ product.name }}"
        (error)="onImageError($event)"
      />
      <div class="infos">
        <h3>
          {{ product.name | capitalizeWords }}
        </h3>
        <span class="text-lg font-bold text-green-600 text-end w-full">
          {{ formatPrice(product.price) }}
        </span>
      </div>
    </li>
  </ul>
  <pagination-menager
    [page]="page"
    [totalPages]="totalPages"
    [handlePage]="handlePage.bind(this)"
  />
  <new-product
    *ngIf="showCreateProduct"
    [handleshow]="handleShowCreate.bind(this)"
    [handleSuccess]="fetchData.bind(this)"
  ></new-product>
</page-container>
