.product-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.product-list li {
  width: 100%;
  display: flex;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  align-items: center;
  box-shadow: 1px 1px 4px 1px #0000002c;
}

.product-list li img {
  width: 8em;
  height: 5em;
  object-fit: cover;
}

.item {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn {
  font-size: 2em;
  color: red;
  cursor: pointer;
}

.infos {
  width: 90%;
  overflow: hidden;
  margin-left: 0.9em;
}

.infos h3 {
  max-width: 100%;
  overflow: hidden;
}